### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_to_load = "purchase_data.csv"

# Read purchasing file and store into pandas data frame
df = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
total_player = (df["SN"].value_counts()).count()
total_player
total_player_df = pd.DataFrame([{"Total Players": total_player}])
total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
No_unique_item = (df["Item ID"].value_counts()).count()
No_unique_item
Avg_Price = df["Price"].mean()
Avg_Price
Total_Purchase = df["Purchase ID"].count()
Total_Purchase
Total_Rev = df["Price"].sum()
Total_Rev

Purchase_summary = pd.DataFrame([{"Number of Unique Items":No_unique_item, "Average Price": "${0:.2f}".format(Avg_Price), 
                                  "Number of Purchase" : Total_Purchase, "Total Revenue": "${0:.2f}".format(Total_Rev)}])
Purchase_summary

  Average Price  Number of Purchase  Number of Unique Items Total Revenue
0         $3.05                 780                     183      $2379.77

## Gender Demographics

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
gender_count = df["Gender"].value_counts()
df_gender = df.groupby(["Gender"])
gender_percent = (gender_count/total_player*100).map("{:.2f}%".format)
gender_summary= pd.DataFrame ({"Percentage of Player" :gender_percent, "Total Count": gender_count})
gender_summary

                      Percentage of Player  Total Count
Male                               113.19%          652
Female                              19.62%          113
Other / Non-Disclosed                2.60%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, etc. by gender


* For normalized purchasing, divide total purchase value by purchase count, by gender


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
avg_price = (df_gender["Price"].mean()).map("${:.2f}".format)
total_purchase = (df_gender["Price"].sum()).map("${:.2f}".format)
Normalized_purchase_totals = (df_gender["Price"].sum()/df["Gender"].value_counts()).map("${:.2f}".format)

purchasing_summary = pd.DataFrame({"Purchase Count":gender_count, "Average Purchase Price":(avg_price),
                                   "Total Purchase Value":total_purchase, "Normalized Totals":Normalized_purchase_totals})
purchasing_summary

,Purchase Count,Average Purchase Price,Total Purchase Value,Normalized Totals
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,$1967.64,$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
# Establish bins for ages
bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
age_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
df["Age Group"] = pd.cut(df["Age"], bins, labels=age_name)
df_agegroup = df.groupby(["Age Group"])
pur_count_age = df["Age Group"].value_counts()
percentage_age = (df["Age Group"].value_counts()/total_player *100).map("{:.2f}%".format)
age_bin_summary = pd.DataFrame({"Percentage of Players":percentage_age,"Total Count":pur_count_age})
age_bin_summary

      Percentage of Players  Total Count
20-24                63.37%          365
15-19                23.61%          136
25-29                17.53%          101
30-34                12.67%           73
35-39                 7.12%           41
10-14                 4.86%           28
<10                   3.99%           23
40+                   2.26%           13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, etc. in the table below


* Calculate Normalized Purchasing


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
Avg_price_age = (df_agegroup["Price"].mean()).map("${:.2f}".format)
Total_value_age = (df_agegroup["Price"].sum()).map("${:.2f}".format)
Nor_total_age = (df_agegroup["Price"].sum()/df["Age Group"].value_counts()).map("${:.2f}".format)
age_purchase_summary = pd.DataFrame({"Pruchase Count":pur_count_age,"Average Purchase Price":Avg_price_age,
                                     "Total Pruchase Value":Total_value_age, "Normalized Totals":Nor_total_age})
age_purchase_summary

,Pruchase Count,Average Purchase Price,Total Pruchase Value,Normalized Totals
10-14,28,$2.96,$82.78,$2.96
15-19,136,$3.04,$412.89,$3.04
20-24,365,$3.05,$1114.06,$3.05
25-29,101,$2.90,$293.00,$2.90
30-34,73,$2.93,$214.00,$2.93
35-39,41,$3.60,$147.67,$3.60
40+,13,$2.94,$38.24,$2.94
<10,23,$3.35,$77.13,$3.35

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
pur_count_sn = df["SN"].value_counts()
df_sn =df.groupby(["SN"])
avg_price_sn=(df_sn["Price"].mean()).map("${0:.2f}".format)
total_value_sn =(df_sn["Price"].sum())
sn_summary = pd.DataFrame({"Purchase Count":pur_count_sn,"Average Purchase Price":avg_price_sn,
                           "Total Purchase Value":(total_value_sn)})
sn_summary_TopPurchase = sn_summary.sort_values(["Total Purchase Value"], ascending = False)
sn_summary_TopPurchase["Total Purchase Value"] = sn_summary_TopPurchase["Total Purchase Value"].map("${0:.2f}".format)
sn_summary_TopPurchase.head(5)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
df_item =df.groupby(["Item ID","Item Name"])
pur_count_item =df_item["Item ID"].count()
avg_price_item=(df_item["Price"].mean()).map("${0:.2f}".format)
total_value_item =(df_item["Price"].sum())
item_summary = pd.DataFrame({"Purchase Count":pur_count_item,"Item Price":avg_price_item,"Total Purchase Value":total_value_item})
item_summary
item_summary_mostpop = item_summary.sort_values(["Purchase Count"], ascending = False)
item_summary_mostpop.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
item_summary_profit = item_summary.sort_values(["Total Purchase Value"], ascending = False)
item_summary_profit["Total Purchase Value"]=item_summary_profit["Total Purchase Value"].map("${0:.2f}".format)
item_summary_profit.head(5)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80